@charset "UT-F8";

body{
            background-color: rgb(30, 31, 31);
            font-family: sans-serif;
            font-size: 20px;
        }
        h1{
            color: rgb(255, 255, 255);
            background-color: rgb(102, 102, 102);
        }
        
        h2{
            color: rgb(255, 255, 255);
        }

        p{
            color:white;
            text-align: justify;
        }